.weight-normal {
    font-weight: normal;
}
.weight-light {
    font-weight: lighter;
}
.weight-bold {
    font-weight: bold;
}

.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-600 {
    font-weight: 600;
}
.weight-700 {
    font-weight: 700;
}